.btn-main, .btn-main-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
  background-color: #ffff00;
  color: white;
  border: solid 1px #ffff00;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #ffff00;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
  color: black;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  width: 100%;
  margin-bottom: 0;
}
.main-menu li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  list-style: none;
  display: inline;
}
.main-menu li a {
  color: #ddd9d9;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  padding: 0.4rem 0.7rem;
  color: #ffff00;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  font-size: 1.25rem;
}

.benefit-cards {
  align-items: center;
  display: flex;
  text-align: center;
}
.benefit-cards i {
  padding: 0.4rem 0.7rem;
  color: #ffff00;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  box-shadow: none;
  font-size: 8rem;
}
.benefit-cards .benefit-title {
  font-size: 1.8rem;
}
.benefit-cards .benefit-cta {
  color: #ffff00;
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;
}

.kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kpi .number {
  font-size: 3.5rem;
  font-weight: 600;
}
.kpi .desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6666666667);
}

.onboarding-card-icon i {
  padding: 0.4rem 0.7rem;
  color: #ffff00;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  box-shadow: none;
  font-size: 8rem;
}

.onboarding-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.onboarding-cards .card-onboarding {
  margin: 1rem;
  flex-direction: column;
  text-align: center;
}

.home-img img {
  width: 40rem;
}

html {
  padding: 0;
  min-width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.nav {
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}

.logo a img {
  max-width: 7rem;
}

.sec-home {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 3rem;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta .cta-text {
  color: #ffff00;
}
.sec-home .home-cta .cta-text i {
  font-weight: 600;
}
.sec-home .home-cta .home-title {
  width: 20rem;
  font-size: 3rem;
}

.sec-features, .sec-benefits {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-features .intro, .sec-benefits .intro {
  text-align: center;
}
.sec-features .intro h3, .sec-benefits .intro h3 {
  font-size: 1.8rem;
}
.sec-features .intro p, .sec-benefits .intro p {
  font-size: 0.8rem;
  color: #888;
}
.sec-features .features, .sec-benefits .features {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sec-features .features .text, .sec-benefits .features .text {
  padding: 2rem 0;
  flex: 1;
}
.sec-features .features .text .feature, .sec-benefits .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec-features .features .text .feature .description, .sec-benefits .features .text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.sec-features .features .text .feature .description .description-title, .sec-benefits .features .text .feature .description .description-title {
  font-size: 1.15rem;
}
.sec-features .features .text .feature .description .description-text, .sec-benefits .features .text .feature .description .description-text {
  font-size: 1rem;
}
.sec-features .features .image img, .sec-benefits .features .image img {
  max-width: 20rem;
}

.sec-kpis {
  width: 100%;
  background-color: #ffff00;
  color: white;
  padding: 4rem;
}

.sec-onboarding {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 3rem;
  max-width: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.sec-onboarding .intro {
  text-align: center;
}
.sec-onboarding .intro p {
  font-size: 1.5rem;
}

.sec-footer-cta {
  background-color: #f4f8fe;
  background-image: url(/assets/img/bg.png);
  background-repeat: no-repeat;
  background-position: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: row;
}
.sec-footer-cta .footer-text {
  width: 50%;
}
.sec-footer-cta .footer-text .cta-title {
  font-size: 2rem;
}
.sec-footer-cta .footer-text .cta-description {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .sec-onboarding .intro h3 {
    font-size: 2.5rem;
  }
  .sec-onboarding .intro p {
    font-size: 1.5rem;
  }
  .sec-onboarding .onboarding-cards .card-onboarding {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sec-footer-cta {
    background-image: none;
  }
  .sec-footer-cta .footer-text {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
